---
import Logo from "../../components/shared/Logo.astro";
import Social from "../../components/shared/Social.astro";
import config from "@/lib/config/config.json";
import menu from "@/lib/config/menu.json";
import social from "@/lib/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";

import DynamicIcon from "@/layouts/helpers/DynamicIcon";
const { footer }: { footer: { name: string; url: string }[] } = menu;
---

<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container">
    <div class="row items-center py-10">
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:text-left">
        <Logo />
      </div>
      <div class="mb-8 text-center lg:col-6 lg:mb-0">
        <ul>
          {
            footer.map((menu) => (
              <li class="m-3 inline-block">
                <a href={menu.url}>{menu.name}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:mt-0 lg:text-right">
        <Social source={social.main} className="social-icons" />
      </div>
    </div>
  </div>
  <div class="border-t border-border py-7 dark:border-darkmode-border">
    <div class="container text-center text-light dark:text-darkmode-light">
      <p>{markdownify(config.params.copyright)} Built with <a class="text-blue-600" href="https://astro.build">Astro <DynamicIcon className="inline-block" icon="SiAstro"/></a></p>

    </div>
  </div>
</footer>
