---
import Breadcrumbs from "../../components/shared/Breadcrumbs.astro";
import { humanize } from "@/lib/utils/textConverter";

const { title = "" }: { title?: string } = Astro.props;
---

<section>
  <div class="text-center">
    <div
      class="bg-gradient-to-b from-transparent via-rose-100 via-90% to-transparent px-8 py-14 dark:from-transparent dark:via-rose-400 dark:via-100% dark:to-transparent"
    >
      <h1 set:text={humanize(title)} />
      <Breadcrumbs className="mt-6" />
    </div>
  </div>
</section>
