---
export type ResumeContext = {
    name: string;
    detail: string;
}
const { header, context, period } : {header: string, context: string, period: string} = Astro.props;
---
<div class="flex flex-row lg:flex-row items-start pb-10">
    <div class="lg:w-1/4">
      <h1 class="">{header}</h1>
    </div>
    <div class="lg:w-1/2">
      {context}
    </div>
    <div class="lg:w-1/4">
        <p class="m-0 text-end">{period??""}</p>
    </div>
  </div>
  