---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";

import type { Button, Feature, Skill } from "@/types";
import { Image } from "@astrojs/image/components";
import { getEntryBySlug } from "astro:content";


import SkillCard from "@/layouts/components/SkillCard.astro";
interface Homepage {
  banner: {
    title: string;
    content: string;
    image: string;
    button: Button;
  };
  features: Feature[];
  profile: {
    name: string;
    desc: string;
    image: string;
    alt: string;
  };
  skills: Skill[];
}

const homepage = await getEntryBySlug("homepage", "index");
const { profile, skills }: Homepage = homepage.data;
---

<Base>

  <section
    class="lg:h-screen p-5 flex items-center flex-col justify-around lg:gap-y-10 gap-y-7 transition-all duration-75 ease-out max-w-7xl m-auto"
  >
    <div class="flex items-center flex-col justify-center gap-y-7">

      <Image
        class="mx-auto mb-6 rounded"
        src={profile.image}
        alt={profile.alt}
        width={300}
        height={300}
      />
      <p
        class="light:black dark:text-white lg:text-2xl text-lg font-medium text-center lg:w-1/2"
      >
        <span class="font-black">{profile.name}</span>
        {profile.desc}
      </p>

    <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-3 mt-10">
      {skills.map((skill) => <SkillCard {...skill} />)}
    </div>
  </section>
</Base>
