---
// Insert your favorite icons from https://heroicons.dev
// or use your own SVGs

import AnimatedCard from "@/helpers/AnimatedCard";
import DynamicIcon from "@/layouts/helpers/DynamicIcon";
export interface Props {
  name: string;
  level: string;
  icon: string;
}

const { name, level, icon } = Astro.props;
---
<AnimatedCard client:load>
<article
  class="bg-theme-light dark:bg-darkmode-theme-light p-5 rounded-lg md:w-72 shadow-xl lg:hover:scale-95 transform transition-all duration-200 select-none"
>
  <div class="flex gap-x-3 items-center">
    <span
      class:list={[
        "flex items-center justify-center rounded-xl w-12 h-12",
      ]}
    >

    <DynamicIcon className="social-icons text-5xl" icon={icon} />

    </span>
    <h3 class="mb-3">
      {name}
    </h3>
  </div>
  <p class="text-lg mt-5">{level}</p>
</article>
</AnimatedCard>